<!DOCTYPE html> 
<html> 
	<head> 
        <title>CivicCommons MarketPlace</title> 
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <meta charset="utf-8">
            

        <link rel="stylesheet" href="css/jquery.mobile-1.0.min.css" />
        <script type="text/javascript" src="js/phonegap-1.2.0.js"></script>
        <script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>            
        <script type="text/javascript" src="js/underscore-min.js"></script>
        <script type="text/javascript" src="js/backbone-min.js"></script>
        <script type="text/javascript" src="app.js"></script>
        <script type="text/javascript" src="js/jquery.mobile-1.0.min.js"></script>
        
            
        <!-- templates -->
        <script type="text/template" id="search-form-template">
            <div data-role="fieldcontain">
                <h1 style="display:none;">LocalAp.ps</h1>
                <label for="search">Search Input:</label>
                <input type="text" name="searchTerm" id="search-term" value="" />
                <input type="button" name="searchButton" id="search-button" value="Find Apps" />
            </div>            
        </script>
            
        <script type="text/template" id="search-results-template">
			<a href="#/application/<%= nid %>" class="search-result" identifier="<%= nid %>">
			<h3><%= title %></h3>
			</a>
        </script>

        <script type="text/template" id="application-template">
	        <h3><%= title %></h3>
	        <h3><%= title %></h3>		
        </script>
            
    </head> 
    <body id="localapps">
    
    <!-- Categories: #one -->
    <div data-role="page" id="search-form-view" data-theme="c">
        <div data-role="header">
            <h1>Your Location</h1>
        </div>
        <div id="search-form-container">
        </div>

        <div data-role="footer">		
        </div><!-- /footer -->
        
    </div>
        
    <!-- Categories: #one -->
    <div data-role="page" id="search-results-view" data-theme="c" >
        <div data-role="header">
            <h1>Search Results</h1>
        </div>


		<h4>Basic List View</h4>

		<ul data-role="listview" data-inset="true" id="search-results-container">
		</ul>


		
        <div data-role="footer">		
            <a data-direction="reverse" href="#search-form-view">Back</a>
        </div><!-- /footer -->
        
    </div>        

    <!-- Categories: #one -->
    <div data-role="page" id="application-view" data-theme="c" >
        <div data-role="header">
            <h1>Application</h1>
        </div>
        <div id="application-container" class="ui-grid-a">
        
        </div>
        
        <div data-role="footer">		
            <a data-direction="reverse" href="#search-results-view">Back</a>
        </div><!-- /footer -->
        
    </div>        
                
    </body>
</html></html>